.follow-button {
  color: #fff;
  border-radius: 3px;
  background-color: #288fef;
  font-family: "Proxima Nova Semibold";
  margin: 0 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 4px 14px;
}

.unfollow-button {
  font-family: "Proxima Nova Semibold";
  display: flex;
  align-items: center;
  margin: 0 15px;
  color: $main-font-color;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  padding: 4px 14px;
}
