.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.feed-container {
  margin: 0 auto;
  max-width: 640px;
}

.regular-container {
  margin: 0 auto;
  max-width: 1020px;
}

.grid-container {
  display: grid;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
