.overlay-on-profile {
  height: 100%;
   width: 100%;
   position: fixed;; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
   overflow-x: hidden; /* Disable horizontal scroll */
   transition: 0.5s;
   display: flex;
   .overlay-content {
     display: flex;
     position: relative;/* 30px top margin to avoid conflict with the close button on smaller screens */
     margin: 0 auto;
   }
   .post-content {
     background-color: #fff;
     display: flex;
     margin: auto 0;
   }
   .post-image {
     max-height: 80vh;
     width: auto;
   }
   .user-avatar {
     width: 20%;
     border-radius: 50%;
     border: 1px solid #eee;
   }
   .post-body {
     display: grid;
     width: 320px;
     grid-template-columns: 1fr;
     grid-template-rows: 15% 1fr 10%;
   }
   .post-header {
     display: flex;
     flex-direction: row;
     padding: 8px 0;
   }
   .header-text {
     display: flex;
     flex-direction: column;
   }
}

.post-content {
  .comment {
    display: flex;
    flex-direction: row;
  }
}
