.overlay-on-profile {
   .post-content {
     background-color: #fff;
     display: flex;
     margin: auto 0;
   }
   .post-image {
     max-height: 80vh;
     width: auto;
   }
   .user-avatar {
     width: 20%;
     border-radius: 50%;
     border: 1px solid #eee;
   }
   .post-body {
     display: grid;
     width: 320px;
     grid-template-columns: 1fr;
     grid-template-rows: 15% 1fr 10%;
   }
   .post-header {
     display: flex;
     flex-direction: row;
     padding: 8px 0;
   }
   .header-text {
     display: flex;
     flex-direction: column;
   }
}

.post-content {
  .comment {
    display: flex;
    flex-direction: row;
  }
}
