#userProfile {
  grid-template-rows: 250px;
  margin: 5vh 0;
  grid-column-gap: 40px;
  align-items: center;
  #userAvatar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 135px;
    min-width: 135px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

.grid-profile {
  grid-column: 2/4;
  #userName {

  }

  #userStatus {

  }
}
