#userProfile {
  grid-template-rows: 250px;
  margin: 5vh 0;
  grid-column-gap: 80px;
  align-items: center;
  #userAvatar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

.grid-profile {
  grid-column: 2/4;
  #userName {

  }

  #userStatus {

  }
}

.user-posts {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px;
  grid-template-rows: auto;
}
