<% if post.desc.present? %>
<h3 class="text-bold"><%= post.user.username %>
  <span class="text-regular"><%= auto_link(post.desc) %></span></h3>
<% end %>
<!-- Post load -->
<%= commontator_thread(post) %>
