
<% if @feed_posts.present? && @feed_posts.count > 0 %>
  <div class="feed-container feed">
    <% @feed_posts.each_with_index do |post, index| %>
      <%= render partial: "posts/partials/post_to_feed", locals: {post: post} %>
    <% end %>
  </div>
<% else %>
  <div class="feed-container">
    <h4 class="text-bold" style="margin: 10px 0;">Suggestions for you</h4>
  </div>
  <div class="feed-container column-suggestions-container">
    <%= render partial: "column_suggestions", locals: {suggested_users: @suggested_users} %>
  </div>
<% end %>
