$(document).ready(function() {
  $input = $("#searchBox");


  var options = {
    getValue: function(element) {
    	return element.username;
    },
    url: function(phrase) {
      return "/search.json?q=" + phrase
    },
    categories: [
      {
        listLocation: "users"
      }
    ],
    list: {
      onChooseEvent: function() {
        var url = $input.getSelectedItemData().url
        window.location.replace(url);
      }
    },
    template: {
  		type: "custom",
  		method: function(value, item) {
  			return '<div class="custom-eac"><%= image_tag("default.png") %><div class="desc"><p class="text-bold">' + item.username + '</p><p class="text-lead">' + item.name + '</p></div></div>';
  		}
  	}
  };

  $input.easyAutocomplete(options)
})
