/*
*= require commontator/application
*/

//fonts
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('fonts/ProximaNova-Regular.eot');
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/ProximaNova-Regular.woff') format('woff'),
  url('fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('fonts/ProximaNova-Bold.eot');
  src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/ProximaNova-Bold.woff') format('woff'),
  url('fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Proxima Nova Semibold';
src: url('fonts/ProximaNova-Semibold.eot');
src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Semibold.woff') format('woff'),
url('fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

// colors
$main-font-color: #2e2e2e;


// @import
@import "scss/*";
.thread {
  display: block!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.text-lead {
  margin: 0;
  font-size: 12px;
  color: #b3b3b3;
}

.text-bold {
  font-family: "Proxima Nova Semibold";
  margin: 0;
  font-weight: 600;
  color: $main-font-color;
  font-size: 14px;
  height: auto;
}

.text-regular {
  font-family: "Proxima Nova Regular";
  margin: 0;
  font-weight: 400;
  color: $main-font-color;
  font-size: 14px;
  height: auto;
}

.no-underline {
  text-decoration: none;

}
